---
import TecnovaExperience from '../components/TecnovaExperience.astro';
import '../styles/main.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="portfolio desarrollador full stack" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Andrés López Cárdenas</title>
	</head>
	<body>
    <h1>Portfolio Andrés López Cardenás</h1>
    <h2>desarrollador full stack</h2>
    <main>
      <section class="experience">
        <h3>Experiencia laboral</h3>
        <TecnovaExperience></TecnovaExperience>
      </section>
      <section class="education">
        
      </section>
    </main>
  </body>
</html>